<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            
          <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% champss.forEach(function(champs){ %>
            <tr>
                <td><%- champs.id %></td>
                
                <td>
                    <%- link_to('show', '/champs/show/'+champs.id, {class : 'btn btn-info'}) %> |
                    <%- link_to('edit', '/champs/edit/'+champs.id, {class : 'btn btn-warning'}) %> |
                    <%- link_to('delete', '/champs/delete/'+champs.id, {class : 'btn btn-danger'}) %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- link_to('new champs', '/champs/new', {class : 'btn btn-primary'}) %>