<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            
          <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% museums.forEach(function(museum){ %>
            <tr>
                <td><%- museum.id %></td>
                
                <td>
                    <%- link_to('show', '/museum/show/'+museum.id, {class : 'btn btn-info'}) %> |
                    <%- link_to('edit', '/museum/edit/'+museum.id, {class : 'btn btn-warning'}) %> |
                    <%- link_to('delete', '/museum/delete/'+museum.id, {class : 'btn btn-danger'}) %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- link_to('new museum', '/museum/new', {class : 'btn btn-primary'}) %>