<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            
          <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% recolements.forEach(function(recolement){ %>
            <tr>
                <td><%- recolement.id %></td>
                
                <td>
                    <%- link_to('show', '/recolement/show/'+recolement.id, {class : 'btn btn-info'}) %> |
                    <%- link_to('edit', '/recolement/edit/'+recolement.id, {class : 'btn btn-warning'}) %> |
                    <%- link_to('delete', '/recolement/delete/'+recolement.id, {class : 'btn btn-danger'}) %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- link_to('new recolement', '/recolement/new', {class : 'btn btn-primary'}) %>