<!DOCTYPE html>
<html lang="fr">
  <head> 	
    <title>Museion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    
    <link rel="stylesheet" href="/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/styles/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/application.css">
    <link href="/styles/bs-editable.css" rel="stylesheet">
  </head>
  <body>


	<%- partial("shared/_menu") %>
			
	<div class="container" id="app">
			<div class="row">

				<% if(flash !== undefined && flash != ""){ %>
					<div class="alert alert-warning"><%- flash %></div>
				<% } %>

				<%- body %>
			</div>
		
	</div>

	<% if(req.user){ %>
		<%- partial('userreport/create') %>
	<% } %>

	<%- partial("shared/_includes") %>
  </body>
  <%- partial("shared/_footer") %>
</html>