<h2 class="text-danger">Delete</h2>
<fieldset>
    <legend>oeuvre</legend>
    
      
            <label for="id_oeuvre">id_oeuvre:</label>
            <p><%- oeuvre.id_oeuvre %></p>
      
            <label for="mode_acquisition">mode_acquisition:</label>
            <p><%- oeuvre.mode_acquisition %></p>
      
            <label for="nom_don">nom_don:</label>
            <p><%- oeuvre.nom_don %></p>
      
            <label for="date_acquisition">date_acquisition:</label>
            <p><%- oeuvre.date_acquisition %></p>
      
            <label for="avis_scientifique">avis_scientifique:</label>
            <p><%- oeuvre.avis_scientifique %></p>
      
            <label for="prix">prix:</label>
            <p><%- oeuvre.prix %></p>
      
            <label for="date_inscription_inventaire">date_inscription_inventaire:</label>
            <p><%- oeuvre.date_inscription_inventaire %></p>
      
            <label for="designation">designation:</label>
            <p><%- oeuvre.designation %></p>
      
            <label for="marques_inscription">marques_inscription:</label>
            <p><%- oeuvre.marques_inscription %></p>
      
            <label for="materiaux">materiaux:</label>
            <p><%- oeuvre.materiaux %></p>
      
            <label for="technique">technique:</label>
            <p><%- oeuvre.technique %></p>
      
            <label for="mesures">mesures:</label>
            <p><%- oeuvre.mesures %></p>
      
            <label for="indication_etat">indication_etat:</label>
            <p><%- oeuvre.indication_etat %></p>
      
            <label for="auteur">auteur:</label>
            <p><%- oeuvre.auteur %></p>
      
            <label for="datation">datation:</label>
            <p><%- oeuvre.datation %></p>
      
            <label for="fonction">fonction:</label>
            <p><%- oeuvre.fonction %></p>
      
            <label for="provenance">provenance:</label>
            <p><%- oeuvre.provenance %></p>
      
            <label for="observations">observations:</label>
            <p><%- oeuvre.observations %></p>
      

    <% form_for('oeuvre', {controller : '/oeuvre', action: '/delete'}, function(f){ %>
        <%- f.hidden_field("id") %>
        <p>
            <%- f.submit("Delete", {class : 'btn btn-danger'}) %>
        </p>
    <% }) %>
</fieldset>

<%- link_to('back to list', '/oeuvre', {class : 'btn btn-primary'}) %>